In [19]:
import pandas as pd

In [74]:
df = pd.read_csv('df_copernicus.csv')

In [75]:
df

,38.173,-2.255,1961-01-01,0.0039200126,275.7922,-0.0008010487,0.00045959465,0.0009512543,3.0041332,2.9449875,2.4438972,1.4941101,0.36938477,0.6294844,19.0,1.0
0,38.173,-2.255,1961-01-02,0.000141,274.72803,-0.000580,0.000112,0.000003,2.956051,2.933243,2.458905,1.495880,0.369385,0.629484,19.0,1.0
1,38.173,-2.255,1961-01-03,0.003624,278.56600,-0.000685,0.000769,0.000000,2.969530,2.912913,2.469462,1.497742,0.369385,0.629484,19.0,1.0
2,38.173,-2.255,1961-01-04,0.000346,275.36127,-0.000821,0.000043,0.000149,2.956716,2.920590,2.477630,1.499817,0.369385,0.629484,19.0,1.0
3,38.173,-2.255,1961-01-05,0.000011,273.90366,-0.000590,0.000027,0.000005,2.874208,2.884159,2.486490,1.501900,0.369385,0.629484,19.0,1.0
4,38.173,-2.255,1961-01-06,0.000000,272.99014,-0.000608,0.000023,0.000000,2.829196,2.848652,2.492339,1.504066,0.369385,0.629484,19.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727434,40.174,0.245,1960-01-27,0.005100,283.08658,-0.000411,0.000571,0.000000,1.914122,1.799564,1.658707,1.587967,0.185516,0.557006,19.0,1.0
727435,40.174,0.245,1960-01-28,0.000551,282.45032,-0.001111,0.000165,0.000000,1.841149,1.829290,1.665088,1.588272,0.185516,0.557006,19.0,1.0
727436,40.174,0.245,1960-01-29,0.000089,281.80250,-0.001493,0.000090,0.000000,1.787012,1.809651,1.671326,1.588570,0.185516,0.557006,19.0,1.0
727437,40.174,0.245,1960-01-30,0.000005,281.01523,-0.001612,0.000085,0.000000,1.741293,1.784769,1.675554,1.588890,0.185516,0.557006,19.0,1.0
727438,40.174,0.245,1960-01-31,0.000000,281.25885,-0.001423,0.000085,0.000000,1.706602,1.758784,1.677010,1.589218,0.185516,0.557006,19.0,1.0

In [86]:
df = pd.read_csv('df_copernicus.csv')
primera_fila = df.columns 
df.columns = range(df.shape[1])
primera_fila_dict = {}
for i in range(len( primera_fila)):
    primera_fila_dict[i] = primera_fila[i]
df_primeraFila = pd.DataFrame({727439  : primera_fila_dict}).T
df = pd.concat([df,df_primeraFila])

In [89]:
nuevos_nombres = ['latitude', 'longitude', 'date', 'total_precipitation', 
                  'skin_temperature', 'evaporation', 'runoff', 'snowfall', 
                  'soil_water_l1', 'soil_water_l2', 'soil_water_l3', 'soil_water_l4',
                  'high_vegetation_cover', 'low_vegetation_cover', 
                  'type_high_vegetation', 'type_low_vegetation']

# AsegÃºrate de que el nÃºmero de nombres coincide con las columnas
df.columns = nuevos_nombres[:df.shape[1]]

In [92]:
df.to_csv('df_copernicus_limpio.csv', index = False)

In [ ]:
df