Extraemos los datos de 3 fuentes diferentes:

* Copernicus: DEsde donde extraemos los datos climáticos
* Sistemas de información de la Cuenca Hidrográfica del Jucar: Desde donde extraemos información de ríos y canales y de la Albufera
* CEDEX (Centro de Estudios y Experimentación de Obras Públicas): Desde donde extraemos información de los embalses de cuenca del Jucar
Además este último centro también dispone de datos diarios de ríos y canales. Para discernir hacemos una pequeña comparativa entre los datos de los ríos del CEDEX y de la los sistemas de información de la cuenca

In [1]:
import pandas as pd

# Tablas

## Tabla de fechas

In [101]:
start_date = "1900-01-01"
end_date = "2024-11-15"
dates = pd.date_range(start=start_date, end=end_date, freq='D')

# Crear DataFrame con las fechas
df_date = pd.DataFrame({'date': dates})

# Generar el identificador int como ddmmyyyy
df_date['date_id'] = df_date['date'].dt.strftime('%Y%m%d').astype(int)

df_date.to_csv('df_date.csv', index = False)

## Datos cuenca hidrográfica del Jucar

https://www.chj.es/es-es/medioambiente/sistemasdeinformacion/Paginas/Sistemasdeinformacion.aspx

### Ríos y canales

In [125]:
df_rios_canales = pd.read_csv('Extracción/Cuenca hidrográfica Juca SI/F2796_Rios_y_Canales_ROEA/F2796_D2_Serie día.csv', encoding='latin1', sep=';')
df_rios_canales = df_rios_canales.rename(columns = {'Cód. CHJ' : 'id_station','Fecha' : 'date','Cantidad (hm³)' : 'quantity_hm3'})
df_rios_canales = df_rios_canales[['id_station', 'date','quantity_hm3']]
df_rios_canales['date'] = pd.to_datetime(df_rios_canales['date'], format='%d-%m-%Y %H:%M:%S')
df_rios_canales = df_rios_canales.dropna()

df_rios_canales_id = pd.read_csv('Extracción/Cuenca hidrográfica Juca SI/F2796_Rios_y_Canales_ROEA/F2796_M0_Todas.csv', encoding='UTF-8',index_col = 0)
df_rios_canales_id = df_rios_canales_id.rename(columns = {'Cód. Estación' : 'id_station','Altitud (m)':'Altitud'})
df_rios_canales_info = df_rios_canales_id[['id_station','Estación de Aforo', 'Cód. ROEA', 'Tipo',
                                           'Cód. Munic.', 'Municipio', 'Cód. SE', 'Sistema de Explotación','Altitud']]
df_rios_canales_id = df_rios_canales_id[['id_station','latitude','longitude']]

#Crear columna pixels únicos
unique_pixels = df_rios_canales_id[['latitude', 'longitude']].drop_duplicates().reset_index(drop=True)
unique_pixels['location_id'] = range(len(unique_pixels))
df_rios_canales_id = pd.merge(df_rios_canales_id, unique_pixels, on=['latitude', 'longitude'], how='left')
df_rios_canales = pd.merge(df_rios_canales, df_rios_canales_id[['id_station', 'location_id']], on = 'id_station', how = 'left')
df_rios_canales_info = pd.merge(df_rios_canales_info, df_rios_canales_id[['id_station', 'location_id']], on = 'id_station', how = 'left')
df_rios_canales_id = df_rios_canales_id.drop('id_station', axis = 1)
df_rios_canales = df_rios_canales.drop('id_station', axis = 1)
df_rios_canales['quantity_hm3'] = df_rios_canales['quantity_hm3'].str.replace(',','.').astype('float')
#indicador de fecha
df_rios_canales = pd.merge(df_rios_canales, df_date, on = 'date', how = 'left').drop('date', axis = 1)
df_rios_canales_id.to_csv('df_rios_canales_id.csv',index = False)
df_rios_canales.to_csv('df_rios_canales.csv',index = False)
df_rios_canales_info.to_csv('df_rios_canales_info.csv',index = False)

## Datos de CEDEX

https://www.cedex.es/comunicacion/noticias/cedex-tiene-disposicion-publica-datos-anuario-aforos-desde-1912

#### Embalses.

* ref_ceh: Identificador del embalse
* fecha: Fecha (día/mes/año) en la que se toma el dato
* reserva: Reserva diaria (hm3)
* salida: Salida media diaria (m3/s)
* tipo: Identificador del tipo de medida (1 o 2). Tipo 1: La reserva se mide al final del día, por lo que al hacer el balance, la reserva del día siguiente se obtiene sumando a la reserva las entradas del día siguiente y restando las salidas del día siguiente. R(DIA 2)= R(DIA 1)+ E(DIA 2) - S(DIA 2) Tipo 2: La reservas se mide al comienzo del día, de manera que la reserva del día siguiente se obtiene sumando a la reserva las entradas del mismo díao3/ mo día

In [126]:
df_embalses = pd.read_csv('Extracción/CEDEX - CH Jucar/afliqe.csv',sep = ';')
df_embalses = df_embalses.rename(columns = {'reserva' : 'quantity_hm3','ref_ceh':'id_station','fecha' : 'date'})
df_embalses['date'] = pd.to_datetime(df_embalses['date'], format='%d/%m/%Y')
df_embalses = df_embalses[['id_station','date','quantity_hm3']]
df_embalses_id = pd.read_csv('Extracción/CEDEX - CH Jucar/Transformados/df_embalses_cedex_id.csv', index_col = 0)
df_embalses_id = df_embalses_id.rename(columns = {'ref_ceh':'id_station'})
df_embalses_id = df_embalses_id.drop('nom_embalse', axis = 1)
#Crear columna pixels únicos
unique_pixels = df_embalses_id[['latitude', 'longitude']].drop_duplicates().reset_index(drop=True)
unique_pixels['location_id'] = range(df_rios_canales_id['location_id'].max()+1, df_rios_canales_id['location_id'].max() + len(unique_pixels)+1)

df_embalses_id = pd.merge(df_embalses_id, unique_pixels, on=['latitude', 'longitude'], how='left')
df_embalses_info = pd.read_excel('Extracción/Cuenca hidrográfica Juca SI/F2797_Embalses_ROEA/F2797_M0_Embalses_ROEA.xlsx')
df_embalses_info = df_embalses_info.rename(columns = {'Cód. Embalse' : 'id_station'})
df_embalses_info = pd.merge(df_embalses_info, df_embalses_id[['id_station', 'location_id']], on = 'id_station')
df_embalses = pd.merge(df_embalses, df_embalses_id[['id_station', 'location_id']], on = 'id_station')
df_embalses_id = df_embalses_id.drop('id_station', axis = 1)
df_embalses = df_embalses.drop('id_station', axis = 1)
#indicador de fecha
df_embalses = pd.merge(df_embalses, df_date, on = 'date', how = 'left').drop('date', axis = 1)
#guardar csv
df_embalses_id.to_csv('df_embalses_id.csv',index = False)
df_embalses.to_csv('df_embalses.csv',index = False)
df_embalses_info.to_csv('df_embalses_info.csv',index = False)

## Copernicus

In [10]:
import os
import xarray as xr

directorio = 'Extracción/Copernicus - climate ERA5'
df_copernicus = pd.DataFrame()
agg_funcs = {
            'total_precipitation': 'sum',
            'skin_temperature': 'mean',
            'evaporation': 'sum',
            'runoff': 'sum',
            'snowfall': 'sum',
            'soil_water_l1': 'sum',
            'soil_water_l2': 'sum',
            'soil_water_l3': 'sum',
            'soil_water_l4': 'sum',
            'high_vegetation_cover': 'mean',
            'low_vegetation_cover': 'mean',
            'type_high_vegetation': 'mean',
            'type_low_vegetation': 'mean',
            'type_high_vegetation': lambda x: x.mode()[0] if not x.mode().empty else np.nan,
            'type_low_vegetation': lambda x: x.mode()[0] if not x.mode().empty else np.nan
        }
for archivo in os.listdir(directorio):
    if archivo.endswith('.nc'):
        print(archivo)
        archivo_nc = os.path.join(directorio, archivo)
        ds = xr.open_dataset(archivo_nc)
        df = ds.to_dataframe()
        df = df.reset_index()
        df = df.drop(['number','expver'], axis = 1, errors='ignore')
        df = df[['valid_time', 'latitude', 'longitude', 'tp', 'skt', 'e', 'ro', 'sf',
       'swvl1', 'swvl2', 'swvl3', 'swvl4', 'cvh', 'cvl', 'tvh', 'tvl']]
        df = df.rename(columns = {'valid_time': 'date',
             'latitude': 'latitude',
             'longitude': 'longitude',
             'tp': 'total_precipitation',
             'skt': 'skin_temperature',
             'e': 'evaporation',
             'ro': 'runoff',
             'sf': 'snowfall',
             'swvl1': 'soil_water_l1',
             'swvl2': 'soil_water_l2',
             'swvl3': 'soil_water_l3',
             'swvl4': 'soil_water_l4',
             'cvh': 'high_vegetation_cover',
             'cvl': 'low_vegetation_cover',
             'tvh': 'type_high_vegetation',
             'tvl': 'type_low_vegetation'})
        df['date'] = pd.to_datetime(df['date']).dt.date
        
        df = df.groupby(['latitude', 'longitude', 'date']).agg(agg_funcs).reset_index()
        df_copernicus = pd.concat([df_copernicus, df], ignore_index=True)

1960-01-01_a_1960-01-31.nc
1960-02-01_a_1960-02-29.nc
1960-03-01_a_1960-03-31.nc
1960-04-01_a_1960-04-30.nc
1960-05-01_a_1960-05-31.nc
1960-06-01_a_1960-06-30.nc
1960-07-01_a_1960-07-31.nc
1960-08-01_a_1960-08-31.nc
1960-09-01_a_1960-09-30.nc
1960-10-01_a_1960-10-31.nc
1960-11-01_a_1960-11-30.nc
1960-12-01_a_1960-12-31.nc
1961-01-01_a_1961-01-31.nc
1961-02-01_a_1961-02-28.nc
1961-03-01_a_1961-03-31.nc
1961-04-01_a_1961-04-30.nc
1961-05-01_a_1961-05-31.nc
1961-06-01_a_1961-06-30.nc
1961-07-01_a_1961-07-31.nc
1961-08-01_a_1961-08-31.nc
1961-09-01_a_1961-09-30.nc
1961-10-01_a_1961-10-31.nc
1961-11-01_a_1961-11-30.nc
1961-12-01_a_1961-12-31.nc
1962-01-01_a_1962-01-31.nc
1962-02-01_a_1962-02-28.nc
1962-03-01_a_1962-03-31.nc
1962-04-01_a_1962-04-30.nc
1962-05-01_a_1962-05-31.nc
1962-06-01_a_1962-06-30.nc
1962-07-01_a_1962-07-31.nc
1962-08-01_a_1962-08-31.nc
1962-09-01_a_1962-09-30.nc
1962-10-01_a_1962-10-31.nc
1962-11-01_a_1962-11-30.nc
1962-12-01_a_1962-12-31.nc
1963-01-01_a_1963-01-31.nc
1963-02-01_a_1963-02-28.nc
1963-03-01_a_1963-03-31.nc
1963-04-01_a_1963-04-30.nc
1963-05-01_a_1963-05-31.nc
1963-06-01_a_1963-06-30.nc
1963-07-01_a_1963-07-31.nc
1963-08-01_a_1963-08-31.nc
1963-09-01_a_1963-09-30.nc
1963-10-01_a_1963-10-31.nc
1963-11-01_a_1963-11-30.nc
1963-12-01_a_1963-12-31.nc
1964-01-01_a_1964-01-31.nc
1964-02-01_a_1964-02-29.nc
1964-03-01_a_1964-03-31.nc
1964-04-01_a_1964-04-30.nc
1964-05-01_a_1964-05-31.nc
1964-06-01_a_1964-06-30.nc
1964-07-01_a_1964-07-31.nc
1964-08-01_a_1964-08-31.nc
1964-09-01_a_1964-09-30.nc
1964-10-01_a_1964-10-31.nc
1964-11-01_a_1964-11-30.nc
1964-12-01_a_1964-12-31.nc
1965-01-01_a_1965-01-31.nc
1965-02-01_a_1965-02-28.nc
1965-03-01_a_1965-03-31.nc
1965-04-01_a_1965-04-30.nc
1965-05-01_a_1965-05-31.nc
1965-06-01_a_1965-06-30.nc
1965-07-01_a_1965-07-31.nc
1965-08-01_a_1965-08-31.nc
1965-09-01_a_1965-09-30.nc
1965-10-01_a_1965-10-31.nc
1965-11-01_a_1965-11-30.nc
1965-12-01_a_1965-12-31.nc
1966-01-01_a_1966-01-31.nc
1966-02-01_a_1966-02-28.nc
1966-03-01_a_1966-03-31.nc
1966-04-01_a_1966-04-30.nc
1966-05-01_a_1966-05-31.nc
1966-06-01_a_1966-06-30.nc
1966-07-01_a_1966-07-31.nc
1966-08-01_a_1966-08-31.nc
1966-09-01_a_1966-09-30.nc
1966-10-01_a_1966-10-31.nc
1966-11-01_a_1966-11-30.nc
1966-12-01_a_1966-12-31.nc
1967-01-01_a_1967-01-31.nc
1967-02-01_a_1967-02-28.nc
1967-03-01_a_1967-03-31.nc
1967-04-01_a_1967-04-30.nc
1967-05-01_a_1967-05-31.nc
1967-06-01_a_1967-06-30.nc
1967-07-01_a_1967-07-31.nc
1967-08-01_a_1967-08-31.nc
1967-09-01_a_1967-09-30.nc
1967-10-01_a_1967-10-31.nc
1967-11-01_a_1967-11-30.nc
1967-12-01_a_1967-12-31.nc
1968-01-01_a_1968-01-31.nc
1968-02-01_a_1968-02-29.nc
1968-03-01_a_1968-03-31.nc
1968-04-01_a_1968-04-30.nc
1968-05-01_a_1968-05-31.nc
1968-06-01_a_1968-06-30.nc
1968-07-01_a_1968-07-31.nc
1968-08-01_a_1968-08-31.nc
1968-09-01_a_1968-09-30.nc
1968-10-01_a_1968-10-31.nc
1968-11-01_a_1968-11-30.nc
1968-12-01_a_1968-12-31.nc
1969-01-01_a_1969-01-31.nc
1969-02-01_a_1969-02-28.nc
1969-03-01_a_1969-03-31.nc
1969-04-01_a_1969-04-30.nc
1969-05-01_a_1969-05-31.nc
1969-06-01_a_1969-06-30.nc
1969-07-01_a_1969-07-31.nc
1969-08-01_a_1969-08-31.nc
1969-09-01_a_1969-09-30.nc
1969-10-01_a_1969-10-31.nc
1969-11-01_a_1969-11-30.nc
1969-12-01_a_1969-12-31.nc
1970-01-01_a_1970-01-31.nc
1970-02-01_a_1970-02-28.nc
1970-03-01_a_1970-03-31.nc
1970-04-01_a_1970-04-30.nc
1970-05-01_a_1970-05-31.nc
1970-06-01_a_1970-06-30.nc
1970-07-01_a_1970-07-31.nc
1970-08-01_a_1970-08-31.nc
1970-09-01_a_1970-09-30.nc
1970-10-01_a_1970-10-31.nc
1970-11-01_a_1970-11-30.nc
1970-12-01_a_1970-12-31.nc
1971-01-01_a_1971-01-31.nc
1971-02-01_a_1971-02-28.nc
1971-03-01_a_1971-03-31.nc
1971-04-01_a_1971-04-30.nc
1971-05-01_a_1971-05-31.nc
1971-06-01_a_1971-06-30.nc
1971-07-01_a_1971-07-31.nc
1971-08-01_a_1971-08-31.nc
1971-09-01_a_1971-09-30.nc
1971-10-01_a_1971-10-31.nc
1971-11-01_a_1971-11-30.nc
1971-12-01_a_1971-12-31.nc
1972-01-01_a_1972-01-31.nc
1972-02-01_a_1972-02-29.nc
1972-03-01_a_1972-03-31.nc
1972-04-01_a_1972-04-30.nc
1972-05-01_a_1972-05-31.nc
1972-06-01_a_1972-06-30.nc
1972-07-01_a_1972-07-31.nc
1972-08-01_a_1972-08-31.nc
1972-09-01_a_1972-09-30.nc
1972-10-01_a_1972-10-31.nc
1972-11-01_a_1972-11-30.nc
1972-12-01_a_1972-12-31.nc
1973-01-01_a_1973-01-31.nc
1973-02-01_a_1973-02-28.nc
1973-03-01_a_1973-03-31.nc
1973-04-01_a_1973-04-30.nc
1973-05-01_a_1973-05-31.nc
1973-06-01_a_1973-06-30.nc
1973-07-01_a_1973-07-31.nc
1973-08-01_a_1973-08-31.nc
1973-09-01_a_1973-09-30.nc
1973-10-01_a_1973-10-31.nc
1973-11-01_a_1973-11-30.nc
1973-12-01_a_1973-12-31.nc
1974-01-01_a_1974-01-31.nc
1974-02-01_a_1974-02-28.nc
1974-03-01_a_1974-03-31.nc
1974-04-01_a_1974-04-30.nc
1974-05-01_a_1974-05-31.nc
1974-06-01_a_1974-06-30.nc
1974-07-01_a_1974-07-31.nc
1974-08-01_a_1974-08-31.nc
1974-09-01_a_1974-09-30.nc
1974-10-01_a_1974-10-31.nc
1974-11-01_a_1974-11-30.nc
1974-12-01_a_1974-12-31.nc
1975-01-01_a_1975-01-31.nc
1975-02-01_a_1975-02-28.nc
1975-03-01_a_1975-03-31.nc
1975-04-01_a_1975-04-30.nc
1975-05-01_a_1975-05-31.nc
1975-06-01_a_1975-06-30.nc
1975-07-01_a_1975-07-31.nc
1975-08-01_a_1975-08-31.nc
1975-09-01_a_1975-09-30.nc
1975-10-01_a_1975-10-31.nc
1975-11-01_a_1975-11-30.nc
1975-12-01_a_1975-12-31.nc
1976-01-01_a_1976-01-31.nc
1976-02-01_a_1976-02-29.nc
1976-03-01_a_1976-03-31.nc
1976-04-01_a_1976-04-30.nc
1976-05-01_a_1976-05-31.nc
1976-06-01_a_1976-06-30.nc
1976-07-01_a_1976-07-31.nc
1976-08-01_a_1976-08-31.nc
1976-09-01_a_1976-09-30.nc
1976-10-01_a_1976-10-31.nc
1976-11-01_a_1976-11-30.nc
1976-12-01_a_1976-12-31.nc
1977-01-01_a_1977-01-31.nc
1977-02-01_a_1977-02-28.nc
1977-03-01_a_1977-03-31.nc
1977-04-01_a_1977-04-30.nc
1977-05-01_a_1977-05-31.nc
1977-06-01_a_1977-06-30.nc
1977-07-01_a_1977-07-31.nc
1977-08-01_a_1977-08-31.nc
1977-09-01_a_1977-09-30.nc
1977-10-01_a_1977-10-31.nc
1977-11-01_a_1977-11-30.nc
1977-12-01_a_1977-12-31.nc
1978-01-01_a_1978-01-31.nc
1978-02-01_a_1978-02-28.nc
1978-03-01_a_1978-03-31.nc
1978-04-01_a_1978-04-30.nc
1978-05-01_a_1978-05-31.nc
1978-06-01_a_1978-06-30.nc
1978-07-01_a_1978-07-31.nc
1978-08-01_a_1978-08-31.nc
1978-09-01_a_1978-09-30.nc
1978-10-01_a_1978-10-31.nc
1978-11-01_a_1978-11-30.nc
1978-12-01_a_1978-12-31.nc
1979-01-01_a_1979-01-31.nc
1979-02-01_a_1979-02-28.nc
1979-03-01_a_1979-03-31.nc
1979-04-01_a_1979-04-30.nc
1979-05-01_a_1979-05-31.nc
1979-06-01_a_1979-06-30.nc
1979-07-01_a_1979-07-31.nc
1979-08-01_a_1979-08-31.nc
1979-09-01_a_1979-09-30.nc
1979-10-01_a_1979-10-31.nc
1979-11-01_a_1979-11-30.nc
1979-12-01_a_1979-12-31.nc
1980-01-01_a_1980-01-31.nc
1980-02-01_a_1980-02-29.nc
1980-03-01_a_1980-03-31.nc
1980-04-01_a_1980-04-30.nc
1980-05-01_a_1980-05-31.nc
1980-06-01_a_1980-06-30.nc
1980-07-01_a_1980-07-31.nc
1980-08-01_a_1980-08-31.nc
1980-09-01_a_1980-09-30.nc
1980-10-01_a_1980-10-31.nc
1980-11-01_a_1980-11-30.nc
1980-12-01_a_1980-12-31.nc
1981-01-01_a_1981-01-31.nc
1981-02-01_a_1981-02-28.nc
1981-03-01_a_1981-03-31.nc
1981-04-01_a_1981-04-30.nc
1981-05-01_a_1981-05-31.nc
1981-06-01_a_1981-06-30.nc
1981-07-01_a_1981-07-31.nc
1981-08-01_a_1981-08-31.nc
1981-09-01_a_1981-09-30.nc
1981-10-01_a_1981-10-31.nc
1981-11-01_a_1981-11-30.nc
1981-12-01_a_1981-12-31.nc
1982-01-01_a_1982-01-31.nc
1982-02-01_a_1982-02-28.nc
1982-03-01_a_1982-03-31.nc
1982-04-01_a_1982-04-30.nc
1982-05-01_a_1982-05-31.nc
1982-06-01_a_1982-06-30.nc
1982-07-01_a_1982-07-31.nc
1982-08-01_a_1982-08-31.nc
1982-09-01_a_1982-09-30.nc
1982-10-01_a_1982-10-31.nc
1982-11-01_a_1982-11-30.nc
1982-12-01_a_1982-12-31.nc
1983-01-01_a_1983-01-31.nc
1983-02-01_a_1983-02-28.nc
1983-03-01_a_1983-03-31.nc
1983-04-01_a_1983-04-30.nc
1983-05-01_a_1983-05-31.nc
1983-06-01_a_1983-06-30.nc
1983-07-01_a_1983-07-31.nc
1983-08-01_a_1983-08-31.nc
1983-09-01_a_1983-09-30.nc
1983-10-01_a_1983-10-31.nc
1983-11-01_a_1983-11-30.nc
1983-12-01_a_1983-12-31.nc
1984-01-01_a_1984-01-31.nc
1984-02-01_a_1984-02-29.nc
1984-03-01_a_1984-03-31.nc
1984-04-01_a_1984-04-30.nc
1984-05-01_a_1984-05-31.nc
1984-06-01_a_1984-06-30.nc
1984-07-01_a_1984-07-31.nc
1984-08-01_a_1984-08-31.nc
1984-09-01_a_1984-09-30.nc
1984-10-01_a_1984-10-31.nc
1984-11-01_a_1984-11-30.nc
1984-12-01_a_1984-12-31.nc
1985-01-01_a_1985-01-31.nc
1985-02-01_a_1985-02-28.nc
1985-03-01_a_1985-03-31.nc
1985-04-01_a_1985-04-30.nc
1985-05-01_a_1985-05-31.nc
1985-06-01_a_1985-06-30.nc
1985-07-01_a_1985-07-31.nc
1985-08-01_a_1985-08-31.nc
1985-09-01_a_1985-09-30.nc
1985-10-01_a_1985-10-31.nc
1985-11-01_a_1985-11-30.nc
1985-12-01_a_1985-12-31.nc
1986-01-01_a_1986-01-31.nc
1986-02-01_a_1986-02-28.nc
1986-03-01_a_1986-03-31.nc
1986-04-01_a_1986-04-30.nc
1986-05-01_a_1986-05-31.nc
1986-06-01_a_1986-06-30.nc
1986-07-01_a_1986-07-31.nc
1986-08-01_a_1986-08-31.nc
1986-09-01_a_1986-09-30.nc
1986-10-01_a_1986-10-31.nc
1986-11-01_a_1986-11-30.nc
1986-12-01_a_1986-12-31.nc
1987-01-01_a_1987-01-31.nc
1987-02-01_a_1987-02-28.nc
1987-03-01_a_1987-03-31.nc
1987-04-01_a_1987-04-30.nc
1987-05-01_a_1987-05-31.nc
1987-06-01_a_1987-06-30.nc
1987-07-01_a_1987-07-31.nc
1987-08-01_a_1987-08-31.nc
1987-09-01_a_1987-09-30.nc
1987-10-01_a_1987-10-31.nc
1987-11-01_a_1987-11-30.nc
1987-12-01_a_1987-12-31.nc
1988-01-01_a_1988-01-31.nc
1988-02-01_a_1988-02-29.nc
1988-03-01_a_1988-03-31.nc
1988-04-01_a_1988-04-30.nc
1988-05-01_a_1988-05-31.nc
1988-06-01_a_1988-06-30.nc
1988-07-01_a_1988-07-31.nc
1988-08-01_a_1988-08-31.nc
1988-09-01_a_1988-09-30.nc
1988-10-01_a_1988-10-31.nc
1988-11-01_a_1988-11-30.nc
1988-12-01_a_1988-12-31.nc
1989-01-01_a_1989-01-31.nc
1989-02-01_a_1989-02-28.nc
1989-03-01_a_1989-03-31.nc
1989-04-01_a_1989-04-30.nc
1989-05-01_a_1989-05-31.nc
1989-06-01_a_1989-06-30.nc
1989-07-01_a_1989-07-31.nc
1989-08-01_a_1989-08-31.nc
1989-09-01_a_1989-09-30.nc
1989-10-01_a_1989-10-31.nc
1989-11-01_a_1989-11-30.nc
1989-12-01_a_1989-12-31.nc
1990-01-01_a_1990-01-31.nc
1990-02-01_a_1990-02-28.nc
1990-03-01_a_1990-03-31.nc
1990-04-01_a_1990-04-30.nc
1990-05-01_a_1990-05-31.nc
1990-06-01_a_1990-06-30.nc
1990-07-01_a_1990-07-31.nc
1990-08-01_a_1990-08-31.nc
1990-09-01_a_1990-09-30.nc
1990-10-01_a_1990-10-31.nc
1990-11-01_a_1990-11-30.nc
1990-12-01_a_1990-12-31.nc
1991-01-01_a_1991-01-31.nc
1991-02-01_a_1991-02-28.nc
1991-03-01_a_1991-03-31.nc
1991-04-01_a_1991-04-30.nc
1991-05-01_a_1991-05-31.nc
1991-06-01_a_1991-06-30.nc
1991-07-01_a_1991-07-31.nc
1991-08-01_a_1991-08-31.nc
1991-09-01_a_1991-09-30.nc
1991-10-01_a_1991-10-31.nc
1991-11-01_a_1991-11-30.nc
1991-12-01_a_1991-12-31.nc
1992-01-01_a_1992-01-31.nc
1992-02-01_a_1992-02-29.nc
1992-03-01_a_1992-03-31.nc
1992-04-01_a_1992-04-30.nc
1992-05-01_a_1992-05-31.nc
1992-06-01_a_1992-06-30.nc
1992-07-01_a_1992-07-31.nc
1992-08-01_a_1992-08-31.nc
1992-09-01_a_1992-09-30.nc
1992-10-01_a_1992-10-31.nc
1992-11-01_a_1992-11-30.nc
1992-12-01_a_1992-12-31.nc
1993-01-01_a_1993-01-31.nc
1993-02-01_a_1993-02-28.nc
1993-03-01_a_1993-03-31.nc
1993-04-01_a_1993-04-30.nc
1993-05-01_a_1993-05-31.nc
1993-06-01_a_1993-06-30.nc
1993-07-01_a_1993-07-31.nc
1993-08-01_a_1993-08-31.nc
1993-09-01_a_1993-09-30.nc
1993-10-01_a_1993-10-31.nc
1993-11-01_a_1993-11-30.nc
1993-12-01_a_1993-12-31.nc
1994-01-01_a_1994-01-31.nc
1994-02-01_a_1994-02-28.nc
1994-03-01_a_1994-03-31.nc
1994-04-01_a_1994-04-30.nc
1994-05-01_a_1994-05-31.nc
1994-06-01_a_1994-06-30.nc
1994-07-01_a_1994-07-31.nc
1994-08-01_a_1994-08-31.nc
1994-09-01_a_1994-09-30.nc
1994-10-01_a_1994-10-31.nc
1994-11-01_a_1994-11-30.nc
1994-12-01_a_1994-12-31.nc
1995-01-01_a_1995-01-31.nc
1995-02-01_a_1995-02-28.nc
1995-03-01_a_1995-03-31.nc
1995-04-01_a_1995-04-30.nc
1995-05-01_a_1995-05-31.nc
1995-06-01_a_1995-06-30.nc
1995-07-01_a_1995-07-31.nc
1995-08-01_a_1995-08-31.nc
1995-09-01_a_1995-09-30.nc
1995-10-01_a_1995-10-31.nc
1995-11-01_a_1995-11-30.nc
1995-12-01_a_1995-12-31.nc
1996-01-01_a_1996-01-31.nc
1996-02-01_a_1996-02-29.nc
1996-03-01_a_1996-03-31.nc
1996-04-01_a_1996-04-30.nc
1996-05-01_a_1996-05-31.nc
1996-06-01_a_1996-06-30.nc
1996-07-01_a_1996-07-31.nc
1996-08-01_a_1996-08-31.nc
1996-09-01_a_1996-09-30.nc
1996-10-01_a_1996-10-31.nc
1996-11-01_a_1996-11-30.nc
1996-12-01_a_1996-12-31.nc
1997-01-01_a_1997-01-31.nc
1997-02-01_a_1997-02-28.nc
1997-03-01_a_1997-03-31.nc
1997-04-01_a_1997-04-30.nc
1997-05-01_a_1997-05-31.nc
1997-06-01_a_1997-06-30.nc
1997-07-01_a_1997-07-31.nc
1997-08-01_a_1997-08-31.nc
1997-09-01_a_1997-09-30.nc
1997-10-01_a_1997-10-31.nc
1997-11-01_a_1997-11-30.nc
1997-12-01_a_1997-12-31.nc
1998-01-01_a_1998-01-31.nc
1998-02-01_a_1998-02-28.nc
1998-03-01_a_1998-03-31.nc
1998-04-01_a_1998-04-30.nc
1998-05-01_a_1998-05-31.nc
1998-06-01_a_1998-06-30.nc
1998-07-01_a_1998-07-31.nc
1998-08-01_a_1998-08-31.nc
1998-09-01_a_1998-09-30.nc
1998-10-01_a_1998-10-31.nc
1998-11-01_a_1998-11-30.nc
1998-12-01_a_1998-12-31.nc
1999-01-01_a_1999-01-31.nc
1999-02-01_a_1999-02-28.nc
1999-03-01_a_1999-03-31.nc
1999-04-01_a_1999-04-30.nc
1999-05-01_a_1999-05-31.nc
1999-06-01_a_1999-06-30.nc
1999-07-01_a_1999-07-31.nc
1999-08-01_a_1999-08-31.nc
1999-09-01_a_1999-09-30.nc
1999-10-01_a_1999-10-31.nc
1999-11-01_a_1999-11-30.nc
1999-12-01_a_1999-12-31.nc
2000-01-01_a_2000-01-31.nc
2000-02-01_a_2000-02-29.nc
2000-03-01_a_2000-03-31.nc
2000-04-01_a_2000-04-30.nc
2000-05-01_a_2000-05-31.nc
2000-06-01_a_2000-06-30.nc
2000-07-01_a_2000-07-31.nc
2000-08-01_a_2000-08-31.nc
2000-09-01_a_2000-09-30.nc
2000-10-01_a_2000-10-31.nc
2000-11-01_a_2000-11-30.nc
2000-12-01_a_2000-12-31.nc
2001-01-01_a_2001-01-31.nc
2001-02-01_a_2001-02-28.nc
2001-03-01_a_2001-03-31.nc
2001-04-01_a_2001-04-30.nc
2001-05-01_a_2001-05-31.nc
2001-06-01_a_2001-06-30.nc
2001-07-01_a_2001-07-31.nc
2001-08-01_a_2001-08-31.nc
2001-09-01_a_2001-09-30.nc
2001-10-01_a_2001-10-31.nc
2001-11-01_a_2001-11-30.nc
2001-12-01_a_2001-12-31.nc
2002-01-01_a_2002-01-31.nc
2002-02-01_a_2002-02-28.nc
2002-03-01_a_2002-03-31.nc
2002-04-01_a_2002-04-30.nc
2002-05-01_a_2002-05-31.nc
2002-06-01_a_2002-06-30.nc
2002-07-01_a_2002-07-31.nc
2002-08-01_a_2002-08-31.nc
2002-09-01_a_2002-09-30.nc
2002-10-01_a_2002-10-31.nc
2002-11-01_a_2002-11-30.nc
2002-12-01_a_2002-12-31.nc
2003-01-01_a_2003-01-31.nc
2003-02-01_a_2003-02-28.nc
2003-03-01_a_2003-03-31.nc
2003-04-01_a_2003-04-30.nc
2003-05-01_a_2003-05-31.nc
2003-06-01_a_2003-06-30.nc
2003-07-01_a_2003-07-31.nc
2003-08-01_a_2003-08-31.nc
2003-09-01_a_2003-09-30.nc
2003-10-01_a_2003-10-31.nc
2003-11-01_a_2003-11-30.nc
2003-12-01_a_2003-12-31.nc
2004-01-01_a_2004-01-31.nc
2004-02-01_a_2004-02-29.nc
2004-03-01_a_2004-03-31.nc
2004-04-01_a_2004-04-30.nc
2004-05-01_a_2004-05-31.nc
2004-06-01_a_2004-06-30.nc
2004-07-01_a_2004-07-31.nc
2004-08-01_a_2004-08-31.nc
2004-09-01_a_2004-09-30.nc
2004-10-01_a_2004-10-31.nc
2004-11-01_a_2004-11-30.nc
2004-12-01_a_2004-12-31.nc
2005-01-01_a_2005-01-31.nc
2005-02-01_a_2005-02-28.nc
2005-03-01_a_2005-03-31.nc
2005-04-01_a_2005-04-30.nc
2005-05-01_a_2005-05-31.nc
2005-06-01_a_2005-06-30.nc
2005-07-01_a_2005-07-31.nc
2005-08-01_a_2005-08-31.nc
2005-09-01_a_2005-09-30.nc
2005-10-01_a_2005-10-31.nc
2005-11-01_a_2005-11-30.nc
2005-12-01_a_2005-12-31.nc
2006-01-01_a_2006-01-31.nc
2006-02-01_a_2006-02-28.nc
2006-03-01_a_2006-03-31.nc
2006-04-01_a_2006-04-30.nc
2006-05-01_a_2006-05-31.nc
2006-06-01_a_2006-06-30.nc
2006-07-01_a_2006-07-31.nc
2006-08-01_a_2006-08-31.nc
2006-09-01_a_2006-09-30.nc
2006-10-01_a_2006-10-31.nc
2006-11-01_a_2006-11-30.nc
2006-12-01_a_2006-12-31.nc
2007-01-01_a_2007-01-31.nc
2007-02-01_a_2007-02-28.nc
2007-03-01_a_2007-03-31.nc
2007-04-01_a_2007-04-30.nc
2007-05-01_a_2007-05-31.nc
2007-06-01_a_2007-06-30.nc
2007-07-01_a_2007-07-31.nc
2007-08-01_a_2007-08-31.nc
2007-09-01_a_2007-09-30.nc
2007-10-01_a_2007-10-31.nc
2007-11-01_a_2007-11-30.nc
2007-12-01_a_2007-12-31.nc
2008-01-01_a_2008-01-31.nc
2008-02-01_a_2008-02-29.nc
2008-03-01_a_2008-03-31.nc
2008-04-01_a_2008-04-30.nc
2008-05-01_a_2008-05-31.nc
2008-06-01_a_2008-06-30.nc
2008-07-01_a_2008-07-31.nc
2008-08-01_a_2008-08-31.nc
2008-09-01_a_2008-09-30.nc
2008-10-01_a_2008-10-31.nc
2008-11-01_a_2008-11-30.nc
2008-12-01_a_2008-12-31.nc
2009-01-01_a_2009-01-31.nc
2009-02-01_a_2009-02-28.nc
2009-03-01_a_2009-03-31.nc
2009-04-01_a_2009-04-30.nc
2009-05-01_a_2009-05-31.nc
2009-06-01_a_2009-06-30.nc
2009-07-01_a_2009-07-31.nc
2009-08-01_a_2009-08-31.nc
2009-09-01_a_2009-09-30.nc
2009-10-01_a_2009-10-31.nc
2009-11-01_a_2009-11-30.nc
2009-12-01_a_2009-12-31.nc
2010-01-01_a_2010-01-31.nc
2010-02-01_a_2010-02-28.nc
2010-03-01_a_2010-03-31.nc
2010-04-01_a_2010-04-30.nc
2010-05-01_a_2010-05-31.nc
2010-06-01_a_2010-06-30.nc
2010-07-01_a_2010-07-31.nc
2010-08-01_a_2010-08-31.nc
2010-09-01_a_2010-09-30.nc
2010-10-01_a_2010-10-31.nc
2010-11-01_a_2010-11-30.nc
2010-12-01_a_2010-12-31.nc
2011-01-01_a_2011-01-31.nc
2011-02-01_a_2011-02-28.nc
2011-03-01_a_2011-03-31.nc
2011-04-01_a_2011-04-30.nc
2011-05-01_a_2011-05-31.nc
2011-06-01_a_2011-06-30.nc
2011-07-01_a_2011-07-31.nc
2011-08-01_a_2011-08-31.nc
2011-09-01_a_2011-09-30.nc
2011-10-01_a_2011-10-31.nc
2011-11-01_a_2011-11-30.nc
2011-12-01_a_2011-12-31.nc
2012-01-01_a_2012-01-31.nc
2012-02-01_a_2012-02-29.nc
2012-03-01_a_2012-03-31.nc
2012-04-01_a_2012-04-30.nc
2012-05-01_a_2012-05-31.nc
2012-06-01_a_2012-06-30.nc
2012-07-01_a_2012-07-31.nc
2012-08-01_a_2012-08-31.nc
2012-09-01_a_2012-09-30.nc
2012-10-01_a_2012-10-31.nc
2012-11-01_a_2012-11-30.nc
2012-12-01_a_2012-12-31.nc
2013-01-01_a_2013-01-31.nc
2013-02-01_a_2013-02-28.nc
2013-03-01_a_2013-03-31.nc
2013-04-01_a_2013-04-30.nc
2013-05-01_a_2013-05-31.nc
2013-06-01_a_2013-06-30.nc
2013-07-01_a_2013-07-31.nc
2013-08-01_a_2013-08-31.nc
2013-09-01_a_2013-09-30.nc
2013-10-01_a_2013-10-31.nc
2013-11-01_a_2013-11-30.nc
2013-12-01_a_2013-12-31.nc
2014-01-01_a_2014-01-31.nc
2014-02-01_a_2014-02-28.nc
2014-03-01_a_2014-03-31.nc
2014-04-01_a_2014-04-30.nc
2014-05-01_a_2014-05-31.nc
2014-06-01_a_2014-06-30.nc
2014-07-01_a_2014-07-31.nc
2014-08-01_a_2014-08-31.nc
2014-09-01_a_2014-09-30.nc
2014-10-01_a_2014-10-31.nc
2014-11-01_a_2014-11-30.nc
2014-12-01_a_2014-12-31.nc
2015-01-01_a_2015-01-31.nc
2015-02-01_a_2015-02-28.nc
2015-03-01_a_2015-03-31.nc
2015-04-01_a_2015-04-30.nc
2015-05-01_a_2015-05-31.nc
2015-06-01_a_2015-06-30.nc
2015-07-01_a_2015-07-31.nc
2015-08-01_a_2015-08-31.nc
2015-09-01_a_2015-09-30.nc
2015-10-01_a_2015-10-31.nc
2015-11-01_a_2015-11-30.nc
2015-12-01_a_2015-12-31.nc
2016-01-01_a_2016-01-31.nc
2016-02-01_a_2016-02-29.nc
2016-03-01_a_2016-03-31.nc
2016-04-01_a_2016-04-30.nc
2016-05-01_a_2016-05-31.nc
2016-06-01_a_2016-06-30.nc
2016-07-01_a_2016-07-31.nc
2016-08-01_a_2016-08-31.nc
2016-09-01_a_2016-09-30.nc
2016-10-01_a_2016-10-31.nc
2016-11-01_a_2016-11-30.nc
2016-12-01_a_2016-12-31.nc
2017-01-01_a_2017-01-31.nc
2017-02-01_a_2017-02-28.nc
2017-03-01_a_2017-03-31.nc
2017-04-01_a_2017-04-30.nc
2017-05-01_a_2017-05-31.nc
2017-06-01_a_2017-06-30.nc
2017-07-01_a_2017-07-31.nc
2017-08-01_a_2017-08-31.nc
2017-09-01_a_2017-09-30.nc
2017-10-01_a_2017-10-31.nc
2017-11-01_a_2017-11-30.nc
2017-12-01_a_2017-12-31.nc
2018-01-01_a_2018-01-31.nc
2018-02-01_a_2018-02-28.nc
2018-03-01_a_2018-03-31.nc
2018-04-01_a_2018-04-30.nc
2018-05-01_a_2018-05-31.nc
2018-06-01_a_2018-06-30.nc
2018-07-01_a_2018-07-31.nc
2018-08-01_a_2018-08-31.nc
2018-09-01_a_2018-09-30.nc
2018-10-01_a_2018-10-31.nc
2018-11-01_a_2018-11-30.nc
2018-12-01_a_2018-12-31.nc
2019-01-01_a_2019-01-31.nc
2019-02-01_a_2019-02-28.nc
2019-03-01_a_2019-03-31.nc
2019-04-01_a_2019-04-30.nc
2019-05-01_a_2019-05-31.nc
2019-06-01_a_2019-06-30.nc
2019-07-01_a_2019-07-31.nc
2019-08-01_a_2019-08-31.nc
2019-09-01_a_2019-09-30.nc
2019-10-01_a_2019-10-31.nc
2019-11-01_a_2019-11-30.nc
2019-12-01_a_2019-12-31.nc
2020-01-01_a_2020-01-31.nc
2020-02-01_a_2020-02-29.nc
2020-03-01_a_2020-03-31.nc
2020-04-01_a_2020-04-30.nc
2020-05-01_a_2020-05-31.nc
2020-06-01_a_2020-06-30.nc
2020-07-01_a_2020-07-31.nc
2020-08-01_a_2020-08-31.nc
2020-09-01_a_2020-09-30.nc
2020-10-01_a_2020-10-31.nc
2020-11-01_a_2020-11-30.nc
2020-12-01_a_2020-12-31.nc
2021-01-01_a_2021-01-31.nc
2021-02-01_a_2021-02-28.nc
2021-03-01_a_2021-03-31.nc
2021-04-01_a_2021-04-30.nc
2021-05-01_a_2021-05-31.nc
2021-06-01_a_2021-06-30.nc
2021-07-01_a_2021-07-31.nc
2021-08-01_a_2021-08-31.nc

KeyError: "['skt', 'swvl1', 'swvl2', 'swvl3', 'swvl4', 'cvh', 'cvl', 'tvh', 'tvl'] not in index"

In [128]:
#df_copernicus = pd.read_csv('df_copernicus.csv').drop('location_id', axis = 1)

df_copernicus['date'] = pd.to_datetime(df_copernicus['date'])

df_copernicus_id = df_copernicus[['latitude', 'longitude']].drop_duplicates().reset_index(drop=True)

# Asignar un ID único a cada combinación
df_copernicus_id['location_id'] = range(df_embalses_id['location_id'].max()+1, df_embalses_id['location_id'].max() + len(df_copernicus_id)+1)

df_copernicus = df_copernicus.merge(df_copernicus_id, on=['latitude', 'longitude'], how='left').drop(['latitude', 'longitude'],axis = 1)
df_copernicus = pd.merge(df_copernicus, df_date, on = 'date', how = 'left').drop('date', axis = 1)
df_copernicus.to_csv('df_copernicus.csv', index = False)
df_copernicus_id.to_csv('df_copernicus_id.csv', index = False)

## Aemet

In [147]:
df_aemet1 = pd.read_csv('Extracción/Aemet/2004-02-29_2024-09-30.csv')
df_aemet2 = pd.read_csv('Extracción/Aemet/1990-01-01_2004-02-19.csv')
df_aemet3 = pd.read_csv('Extracción/Aemet/1980-01-01_1989-12-01.csv')
df_aemet_info =  pd.read_csv('Extracción/Aemet/estaciones_aemet_id.csv')

df_aemet = pd.concat([df_aemet1, df_aemet2, df_aemet3])
df_aemet = df_aemet.drop([ 'horatmin', 'horatmax','hrMedia','hrMax', 'horaHrMax', 'horaHrMin', 'horaPresMax','horaPresMin'], axis = 1)
decimal_columns = ['tmed', 'prec', 'tmin', 'tmax',  'velmedia', 'racha',  'presMax', 'presMin', 'sol']
df_aemet['prec'] = df_aemet['prec'].replace('Ip', '0') 
df_aemet['prec'] = df_aemet['prec'].replace('Acum', '9999999999')

for col in decimal_columns:
    df_aemet[col] = df_aemet[col].str.replace(',', '.').astype(float)

df_aemet_id = df_aemet_info[['latitude', 'longitude']].drop_duplicates().reset_index(drop=True)
df_aemet_id['location_id'] = range(df_copernicus['location_id'].max()+1, df_copernicus['location_id'].max() + len(df_aemet_id)+1)
df_aemet_info = df_aemet_info.merge(df_aemet_id, on=['latitude', 'longitude'], how='left').drop(['latitude', 'longitude'],axis = 1)
df_aemet = df_aemet.merge(df_aemet_info[['indicativo', 'location_id']], on=['indicativo'], how='left').drop(['indicativo'],axis = 1)

max_value = df_aemet['prec'].max()
second_max_value = df_aemet['prec'][df_aemet['prec'] != max_value].max()
df_aemet['prec'] = df_aemet['prec'].replace(max_value, second_max_value)
df_aemet = df_aemet.rename(columns = {'fecha' : 'date'})
df_aemet['date'] = pd.to_datetime(df_aemet['date'])
#mergeamos con fecha
df_aemet = pd.merge(df_aemet,df_date, on = 'date', how = 'left').drop('date', axis = 1)
df_aemet.to_csv('df_aemet.csv',index = False)
df_aemet_id.to_csv('df_aemet_id.csv',index = False)
df_aemet_info.to_csv('df_aemet_info.csv',index = False)

### Tabla locations_id

In [150]:
df_rios_canales_id['Type'] = 'Rio'
df_embalses_id['Type'] = 'Embalse'
df_copernicus_id['Type'] = 'Copernicus'
df_aemet_id['Type'] = 'Aemet'

In [153]:
locations_id = pd.concat([df_rios_canales_id,df_embalses_id,df_copernicus_id,df_aemet_id])
locations_id.to_csv('locations_id.csv',index = False)

### Tabla pixels

In [169]:
from scipy.spatial.distance import cdist
import numpy as np

coords_copernicus = df_copernicus_id[['latitude', 'longitude']].to_numpy()
coords_rios_canales = df_rios_canales_id[['latitude', 'longitude']].to_numpy()
coords_embalses = df_embalses_id[['latitude', 'longitude']].to_numpy()
coords_aemet = df_aemet_id[['latitude', 'longitude']].to_numpy()

dist_coper_rios = cdist(coords_rios_canales, coords_copernicus, metric='euclidean')
dist_coper_embalses = cdist(coords_embalses, coords_copernicus, metric='euclidean')
dist_coper_aemet = cdist(coords_aemet, coords_copernicus, metric='euclidean')

closest__coper_rios = np.argmin(dist_coper_rios, axis=1)
closest_coper_embalses = np.argmin(dist_coper_embalses, axis=1)
closest_coper_aemet = np.argmin(dist_coper_aemet, axis=1)

df_closest_rios = pd.DataFrame({
    'location_id_rios_canales':np.array( df_rios_canales_id['location_id']),  # Índices de df_rios_canales_id
    'location_id_copernicus': closest__coper_rios,       # Índices correspondientes en pixels copernicus
    'latitude' : np.array(df_copernicus_id['latitude'][closest__coper_rios]),
    'longitude' : np.array(df_copernicus_id['longitude'][closest__coper_rios])
})

df_closest_embalses = pd.DataFrame({
    'location_id_embalses': np.array(df_embalses_id['location_id']),  # Índices de df_rios_canales_id
    'location_id_copernicus': closest_coper_embalses,       # Índices correspondientes en pixels copernicus
    'latitude' : np.array(df_copernicus_id['latitude'][closest_coper_embalses]),
    'longitude' : np.array(df_copernicus_id['longitude'][closest_coper_embalses])
})

df_closest_aemet = pd.DataFrame({
    'location_id_aemet': np.array(df_aemet_id['location_id']),  # Índices de df_rios_canales_id
    'location_id_copernicus': closest_coper_aemet,       # Índices correspondientes en pixels copernicus
    'latitude' : np.array(df_copernicus_id['latitude'][closest_coper_aemet]),
    'longitude' :np.array( df_copernicus_id['longitude'][closest_coper_aemet])
})

In [181]:
df_pixeles_cercanos = pd.merge(df_closest_rios, df_closest_embalses, on = ['location_id_copernicus','latitude', 'longitude'], how = 'outer')
df_pixeles_cercanos = pd.merge(df_pixeles_cercanos, df_closest_aemet, on = ['location_id_copernicus','latitude', 'longitude'], how = 'outer')
df_pixeles_cercanos = df_pixeles_cercanos[[ 'location_id_copernicus', 'location_id_embalses', 'location_id_aemet','location_id_rios_canales']]

In [183]:
df_pixeles_cercanos.to_csv('df_pixeles_cercanos.csv',index = False)

In [189]:
df_aemet_info.dtypes

provincia       object
altitud          int64
indicativo      object
nombre          object
indsinop       float64
location_id      int64
dtype: object

# Base de datos

## SQL

Habiendo construido todas las tablas, ahora elaboramos una base relacional de esta forma:

![title](Schema.png)

In [220]:
df_pixeles_cercanos = pd.read_csv('df_pixeles_cercanos.csv')
df_copernicus_id = pd.read_csv('df_copernicus_id.csv')
df_copernicus = pd.read_csv('df_copernicus.csv')
df_embalses = pd.read_csv('df_embalses.csv')
df_embalses_id = pd.read_csv('df_embalses_id.csv')
df_embalses_info = pd.read_csv('df_embalses_info.csv')
df_rios_canales = pd.read_csv('df_rios_canales.csv')
df_rios_canales_id = pd.read_csv('df_rios_canales_id.csv')
df_rios_canales_info = pd.read_csv('df_rios_canales_info.csv')
df_aemet = pd.read_csv('df_aemet.csv')
df_aemet_id = pd.read_csv('df_aemet_id.csv')
df_aemet_info = pd.read_csv('df_aemet_info.csv')
df_date = pd.read_csv('df_date.csv')
locations_id = pd.read_csv('locations_id.csv')

In [225]:
import sqlite3

# Conectar a la base de datos SQLite (o crearla si no existe)
conn = sqlite3.connect('cantidadAguaJucar.db')
cursor = conn.cursor()
cursor.execute("PRAGMA foreign_keys = ON;")

sql_script = '''
CREATE TABLE `df_pixeles_cercanos` (
  `location_id_copernicus` int64,
  `location_id_embalses` float64,
  `location_id_aemet` float64,
  `location_id_rios_canales` float64
);

CREATE TABLE `df_copernicus_id` (
  `latitude` float64,
  `longitude` float64,
  `location_id` int64
);

CREATE TABLE `df_copernicus` (
  `total_precipitation` float64,
  `skin_temperature` float64,
  `evaporation` float64,
  `runoff` float64,
  `snowfall` float64,
  `soil_water_l1` float64,
  `soil_water_l2` float64,
  `soil_water_l3` float64,
  `soil_water_l4` float64,
  `high_vegetation_cover` float64,
  `low_vegetation_cover` float64,
  `type_high_vegetation` float64,
  `type_low_vegetation` float64,
  `location_id` int64,
  `date_id` int64
);

CREATE TABLE `df_embalses` (
  `quantity_hm3` float64,
  `location_id` int64,
  `date_id` int64
);

CREATE TABLE `df_embalses_id` (
  `longitude` float64,
  `latitude` float64,
  `location_id` int64
);

CREATE TABLE `df_embalses_info` (
  `id_station` int64,
  `Embalse` varchar(255),
  `CodROEA` int64,
  `CodPresaprincipal` varchar(255),
  `PresaPrincipal` varchar(255),
  `VolUtil_hm3` float64,
  `CodMunic` int64,
  `Municipio` varchar(255),
  `CodProv` int64,
  `Provincia` varchar(255),
  `CodSE` int64,
  `SistemadeExplotación` varchar(255),
  `Cauce` varchar(255),
  `CodMasaSuperfPHJ22` varchar(255),
  `MasaSuperficialPHJ22` varchar(255),
  `location_id` int64
);

CREATE TABLE `df_rios_canales` (
  `quantity_hm3` float64,
  `location_id` int64,
  `date_id` int64
);

CREATE TABLE `df_rios_canales_id` (
  `latitude` float64,
  `longitude` float64,
  `location_id` int64
);

CREATE TABLE `df_rios_canales_info` (
  `id_station` int64,
  `EstacióndeAforo` varchar(255),
  `CodROEA` int64,
  `Tipo` varchar(255),
  `CodMunic` int64,
  `Municipio` varchar(255),
  `CodSE` float64,
  `SistemadeExplotación` varchar(255),
  `Altitud` varchar(255),
  `location_id` int64
);

CREATE TABLE `df_aemet` (
  `altitud` int64,
  `tmed` float64,
  `prec` float64,
  `tmin` float64,
  `tmax` float64,
  `dir` float64,
  `velmedia` float64,
  `racha` float64,
  `horaracha` varchar(255),
  `hrMin` float64,
  `presMax` float64,
  `presMin` float64,
  `sol` float64,
  `location_id` int64,
  `date_id` int64
);

CREATE TABLE `df_aemet_id` (
  `latitude` float64,
  `longitude` float64,
  `location_id` int64
);

CREATE TABLE `df_aemet_info` (
  `provincia` object,
  `altitud` int64,
  `indicativo` object,
  `nombre` object,
  `indsinop` float64,
  `location_id` int64
);

CREATE TABLE `df_date` (
  `date` timestamp,
  `date_id` int64
);

CREATE TABLE `locations_id` (
  `latitude` float64,
  `longitude` float64,
  `location_id` int64,
  `Type` object
);

ALTER TABLE `df_date` ADD FOREIGN KEY (`date_id`) REFERENCES `df_copernicus` (`date_id`);

ALTER TABLE `df_date` ADD FOREIGN KEY (`date_id`) REFERENCES `df_aemet` (`date_id`);

ALTER TABLE `df_date` ADD FOREIGN KEY (`date_id`) REFERENCES `df_rios_canales` (`date_id`);

ALTER TABLE `df_date` ADD FOREIGN KEY (`date_id`) REFERENCES `df_embalses` (`date_id`);

ALTER TABLE `locations_id` ADD FOREIGN KEY (`location_id`) REFERENCES `df_copernicus_id` (`location_id`);

ALTER TABLE `locations_id` ADD FOREIGN KEY (`location_id`) REFERENCES `df_rios_canales_id` (`location_id`);

ALTER TABLE `locations_id` ADD FOREIGN KEY (`location_id`) REFERENCES `df_embalses_id` (`location_id`);

ALTER TABLE `locations_id` ADD FOREIGN KEY (`location_id`) REFERENCES `df_aemet_id` (`location_id`);

ALTER TABLE `df_copernicus` ADD FOREIGN KEY (`location_id`) REFERENCES `locations_id` (`location_id`);

ALTER TABLE `df_rios_canales` ADD FOREIGN KEY (`location_id`) REFERENCES `locations_id` (`location_id`);

ALTER TABLE `df_embalses` ADD FOREIGN KEY (`location_id`) REFERENCES `locations_id` (`location_id`);

ALTER TABLE `df_aemet` ADD FOREIGN KEY (`location_id`) REFERENCES `locations_id` (`location_id`);

ALTER TABLE `df_pixeles_cercanos` ADD FOREIGN KEY (`location_id_copernicus`) REFERENCES `locations_id` (`location_id`);

ALTER TABLE `df_pixeles_cercanos` ADD FOREIGN KEY (`location_id_rios_canales`) REFERENCES `locations_id` (`location_id`);

ALTER TABLE `df_pixeles_cercanos` ADD FOREIGN KEY (`location_id_embalses`) REFERENCES `locations_id` (`location_id`);

ALTER TABLE `df_pixeles_cercanos` ADD FOREIGN KEY (`location_id_aemet`) REFERENCES `locations_id` (`location_id`);

ALTER TABLE `df_rios_canales_info` ADD FOREIGN KEY (`location_id`) REFERENCES `df_rios_canales` (`location_id`);

ALTER TABLE `df_embalses_info` ADD FOREIGN KEY (`location_id`) REFERENCES `df_embalses` (`location_id`);

ALTER TABLE `df_aemet_info` ADD FOREIGN KEY (`location_id`) REFERENCES `df_aemet` (`location_id`);'''

# Ejecutar el script
cursor.executescript(sql_script)

# Confirmar los cambios
conn.commit()

# Cerrar la conexión
conn.close()

OperationalError: table `df_pixeles_cercanos` already exists

In [12]:
conn = sqlite3.connect('cantidadAguaJucar.db')

# Volcar los datos de los DataFrames a las tablas correspondientes
df_dates.to_sql('dates', conn, if_exists='append', index=False)
df_copernicus.to_sql('df_copernicus', conn, if_exists='append', index=False)
df_embalses_cedex.to_sql('df_embalses_cedex', conn, if_exists='append', index=False)
df_embalses_cedex_id.to_sql('df_embalses_cedex_id', conn, if_exists='append', index=False)
df_rios_canales.to_sql('df_rios_canales', conn, if_exists='append', index=False)
df_rios_canales_id.to_sql('df_rios_canales_id', conn, if_exists='append', index=False)
df_albufera.to_sql('df_albufera', conn, if_exists='append', index=False)
df_albufera_id.to_sql('df_albufera_id', conn, if_exists='append', index=False)
df_pixeles_cercanos.to_sql('pixeles_cercanos', conn, if_exists='append', index=False)
pixels_copernicus.to_sql('pixels_copernicus', conn, if_exists='append', index=False)
conn.close()

In [20]:
conn = sqlite3.connect('cantidadAguaJucar.db')

cursor = conn.cursor()

query = "SELECT df_copernicus.total_precipitation, dates.date, FROM df_copernicus JOIN dates ON df_copernicus.date_id = dates.date_id LIMIT 100;"

df = pd.read_sql_query(query, conn)


conn.close()
df

    total_precipitation                 date
0          0.000000e+00  2000-01-01T00:00:00
1          0.000000e+00  2000-01-02T00:00:00
2          1.452863e-07  2000-01-03T00:00:00
3          0.000000e+00  2000-01-04T00:00:00
4          0.000000e+00  2000-01-05T00:00:00
..                  ...                  ...
95         3.184192e-06  2000-01-03T00:00:00
96         0.000000e+00  2000-01-04T00:00:00
97         0.000000e+00  2000-01-05T00:00:00
98         0.000000e+00  2000-01-06T00:00:00
99         0.000000e+00  2000-01-07T00:00:00

[100 rows x 2 columns]